body {
  display: block;
}

h1 {
  color: rgb(35, 131, 255);
}

.maincontainer1,
.maincontainer2,
.maincontainer3,
.maincontainer4,
.secondcontainer1,
.secondcontainer2,
.secondcontainer3,
.secondcontainer4
{
  display: flex;
  border: dotted red;
  width: auto;
  height:auto;
  margin-top: 3vh;;
}

#maincontainer4 {
  justify-content: center;
}


#secondcontainer1 {
  justify-content:center;
}

.link,
.secondLink
 {
  width: 200px;
  height: 5vh;
  border: solid black 3px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 5px;
  margin: 3px
}

#link2 {
  margin-left:auto;
}

#link5 {
  margin-left:auto;
}

#link1 {
  margin-left:auto;
}


/* Second Activity */
.secondcontainer1 {
  justify-content: space-between;
}

#secondLink4 {
  margin-left:auto;
}

#secondLink3 {
  margin: auto;
}

#secondLink42
{
margin-left:auto;
}

#secondLink43 {
  margin-right: auto;
}

.flexCard-MainContainer {
  display:block;
  /* border:solid lightgrey 2px; */
  width: auto;
  height: auto;
  margin: 15%;
}

.firstRow,
.secondRow {
  display: flex;
  justify-self: center;
}

img {
  width: auto;
  height: auto;
}

.cards {
  display: block;
  width: 200px;
  height:300px;
  border: solid gray;
}

.cardsImages {
  width: auto;
  height:50%;
  border: solid gray;
  margin: 2px;
}

.headingText {
  margin: 0;
}

.cardsText {
  margin: 2px;
  font-size:10px;
}